<div class="card mt-3">
    <div class="card-header">
        <div class="float-left">
            <h4>Novo Curso</h4>
        </div>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Informe o nome do curso:</label>
                <input type="text" class="form-control" formControlName="nome" placeholder="digite aqui...">
            </div>
            <button type="submit" class="btn btn-outline-warning mb-1 btn-sm">Submit</button>
        </form>
    </div>
</div>